Source: ros-hydro-rgbd-launch
Section: misc
Priority: extra
Maintainer: Piyush Khandelwal <piyushk@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-depth-image-proc, ros-hydro-image-proc, ros-hydro-nodelet, ros-hydro-tf
Homepage: http://www.ros.org/wiki/rgbd_launch
Standards-Version: 3.9.2

Package: ros-hydro-rgbd-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-depth-image-proc, ros-hydro-image-proc, ros-hydro-nodelet, ros-hydro-tf
Description: Launch files to open an RGBD device and load all nodelets to convert raw depth/RGB/IR streams to depth images, disparity images, and (registered) point clouds.
